.bs-docs-sidenav{
    background-color: white;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    width: 220px;
}
.bs-docs-sidenav>li>a{
    border: 1px solid grey;
    display: block;
    padding: 8px 14px;

}
.bs-docs-sidenav>li:first-child>a{
    border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav>li:last-child>a{
    border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav .icon-chevron-right{
    float: right;
    margin-right: -6px;
    margin-top: 2px;
    opacity: 0.25;
}
.bs-docs-sidenav .active .icon-chevron-right,.bs-docs-sidenav .active a:hover .icon-chevron-right{
    background-image: url("../bootstrap/img/glyphicons-halflings-white.png");
    opacity: 1;
}






























